<component class="twitter">
<div class="fab fa-twitter twitter-icon"></div>
    <div class="twitter-handle"><a href="https://www.twitter.com/{{ component.handle }}">@{{ component.handle }}</a></div>

    <div class="twitter-item">
        <p class="twitter-content">{{ component.tweet.0 }}</p>
        <p class="twitter-time">{{ component.tweet.1 }}</p>
    </div>
</component>    