<component class="quote">
    <div class="quote-text">&ldquo;{{ component.quote_text }}&rdquo;</div>
    <div class="quote-person">
        {{ component.quote_name }}{% if component.quote_title %}, {{ component.quote_title }}{% endif %}
    </div>
</component>        