<div class="audience-buttons">
    <div class="button">
        {% if button.link %}<a href="{{ button.link }}">{% endif %}
        {{button.label}}
        {% if button.link %}</a>{% endif %}
    </div>
</div>