<component class="photo">
    <a href="{{ component.news_story_link }}">
        <img src="{{ component.news_image_url }}" alt="{{ component.news_image_alt_text }}">  
        <div class="caption">
            <h3>{{ component.title }}</h3>
        </div>
    </a>
</component>        