  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script type="text/javascript" src="../../js/jquery-2.0.0b2.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="../../js/index.js"></script>
  <script type="text/javascript" src="../../js/photo-grid.js"></script>
  <script type="text/javascript" src="../../js/video-playlist.js"></script>
  <script type="text/javascript" src="../../js/macy.min.js"></script>
  <script type="text/javascript" src="../../js/masonry-grid.js"></script>
  </body>
</html>
